<header class="flex items-center justify-between py-6">

  <a class="flex items-center" [routerLink]='["/home"]'>      
    <img class="max-w-[40px]" src="assets/images/logo.png" alt="" />
    <h1 class="text-4xl ml-4 text-center">Spotify</h1>
  </a>

  <div class="flex items-center gap-16">
    <nav>
      <a [routerLink]="['/artist-register']">Artist Register</a>
    </nav>

    <div class="form-control">
      <label class="label cursor-pointer">
        <!-- <span class="label-text">dark</span> -->
        <mat-icon class="mr-2" aria-hidden="false" aria-label="Example home icon" fontIcon="light_mode"></mat-icon>
        <input (click)="swtichTheme()" type="checkbox" class="toggle" checked />
        <mat-icon class="ml-2" aria-hidden="false" aria-label="Example home icon" fontIcon="dark_mode"></mat-icon>
      </label>
    </div>
  </div>
</header>
