

  <div class="mt-6 mb-6">
    <div class="flex items-center">
      <button class="mr-4 flex items-center btn btn-neutral" (click)="goBack()"><mat-icon class="mr-1" aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_back"></mat-icon></button>
      <h1 class="artist-name text-4xl">{{artistName}}</h1>
    </div>
  </div>

  <div class="mt-6 grid md:grid-cols-4 gap-6" *ngIf="artist?.items.length > 0">
      <div class="card glass shadow-xl" *ngFor="let album of artist.items">        
        <figure><img src="{{ album.images.length > 0 ? album.images[0].url : '/assets/images/default-image.png' }}" alt="{{ 'image of ' + album.name }}" /></figure>

        <div class="card-body">
          <div class="top-block">
            <h2 class="title">{{album.name}}</h2>
            <div class="card-artist-name">
              <p *ngFor="let artist of album.artists; let last = last">{{artist.name }}{{last ? '' : ','}} </p>
            </div>
          </div>
          <div class="bottom-block">
            <p class="date">{{album.release_date}}</p>
            <p class="tracks">{{album.total_tracks}}  {{album.total_tracks == 1 ? 'track' : 'tracks'}}</p>
          </div>
        </div>
        <div class="card-actions p-6 text-center w-100 mx-auto">
          <a class="preview-button" href="{{album.external_urls.spotify}}" target="blank" >Preview on spotify</a>
        </div>
      </div>
  </div>
