
<div class="container p-6 mx-auto">

  <div>
    <h1 class="artist-name text-4xl mb-4">{{artistName}}</h1>
    <span class="text-2xl">Albums</span>
  </div>

  <div class="mt-6 grid md:grid-cols-4 gap-6" *ngIf="artist?.items.length > 0">
      <div class="card bg-base-100 shadow-xl" *ngFor="let album of artist.items">        
        <figure><img src="{{ album.images.length > 0 ? album.images[0].url : '/assets/images/default-image.png' }}" alt="{{ 'image of ' + album.name }}" /></figure>

        <div class="card-body">
          <div class="top-block">
            <h2 class="title">{{album.name}}</h2>
            <div class="card-artist-name">
              <p *ngFor="let artist of album.artists; let last = last">{{artist.name }}{{last ? '' : ','}} </p>
            </div>
          </div>
          <div class="bottom-block">
            <p class="date">{{album.release_date}}</p>
            <p class="tracks">{{album.total_tracks}}  {{album.total_tracks == 1 ? 'track' : 'tracks'}}</p>
          </div>
        </div>
        <div class="card-actions p-6 text-center w-100 mx-auto">
          <a class="preview-button" href="{{album.external_urls.spotify}}" target="blank" >Preview on spotify</a>
          <!-- <button class="btn btn-primary">Buy Now</button> -->
        </div>
      </div>
  </div>
</div>



        
<!-- <div class=" mt-4 grid grid-cols-4 gap-6" [class.card-width]="artists.length < 4" *ngIf="artists.length > 0">
  <a class="card bg-base-100 shadow-xl" [routerLink]="['/artist/', artist.id]" [queryParams]="{name: artist.name}" *ngFor="let artist of artists">
    <figure><img class="aspect-square" src="{{ artist.images.length > 0 ? artist.images[0].url : '/assets/images/default-image.png' }}" alt="{{ 'image of ' + artist.name }}" /></figure>
    <div class="card-body">
      <h2 class="card-title">{{ artist.name }}</h2>
      <p>{{ artist.followers.total | number }} Followers</p>
    </div>
  </a>
</div> -->